@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url('http://fonts.cdnfonts.com/css/vivaldi');

.app-main {
    height: 100%;
    width: 100%;
    background-color: #ededed;
    /* overflow: hidden; */
    /* position: absolute; */
}

.home {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 60px;
    /* justify-content: space-evenly; */
}

.navbar-custom {
    height: 60px;
    width: 100%;
    background: #111111;
    position: fixed;
    z-index: 1;
    top: 0;
    display: flex;
    padding: 5px
}

.navbar-img {
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    padding-left: 10px;
}

.navbar-img1 {
    max-height: 50px;
    padding: 3px;
    object-fit: contain;
}

.navbar-img2 {
    max-height: 50px;
    padding: 10px;
    object-fit: contain;
}

.overlay{
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left:0;
	top:50%;
	opacity: 0;
	visibility: hidden;
}

.img-effect:hover .overlay{
    visibility: visible;
    opacity: 1;
    width: 100%;
}

.overlay p {
    text-align: center;
    color: #000;
    padding: 20px 20px;
    font-size: 35px;
}

.img-effect {
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    overflow: hidden;
	position: relative;
	display: block;
    width: 100%;
    height: 93vh;
    object-fit: cover;
    margin: 2px;
    justify-content: center;
    align-items: center;
    
 }

 .img-effect img{
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    opacity: 1;
    height: 94vh;
    overflow: hidden;
    flex-shrink: 0;
}

.img-effect:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    opacity: .5;
}

/* ///////////////Contact US///////////// */

.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 30vw;
    align-items: center;
}

.contact-us-align{
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    width: 80%;
}

.contact-us h1{
    text-align: center;
    padding: 20px;
}

.contact-us-align button{
    margin: 30px 0px;
}

/* ///////////////Interior CSS/////////////// */

.get-estimate {
    background: white;
    width: 100%
}

.interior-choose-us {
    display: flex;
    align-items: center;
    justify-content: center;
}

.interior-designs {
    height: 80vh;
    background: white;
    /* border: 3px solid #202020; */
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

/* //////////////Promoters CSS////////////// */

.promoters {
    display: flex;
    width: 100%;
    /* height: 95vh; */
    margin-top: 50px;
    background: white;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.promoter-header {
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;
}

.promoter-header-logo {
    width: 40%;
    height: 50%;
    border-right: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promoter-header-content {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    color: white;
    justify-content: center;
    align-items: center;
}

.promoter-header-content-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Vivaldi', sans-serif;
    font-size: 80pt;
}

.promoter-header-misc {
    width: 55%;
    justify-content: center;
}

.promoter-about {
    height: 40vh;
    padding: 10px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: black;
}

.promoter-about h1{
    padding: 30px;
}

.promoter-about p{
    width: 70%;
    text-align: center;
}

.promoter-spec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 60vh;
    background: url(/src/assets/promoterSpecBg.jpg);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: overlay;
}

.promoter-spec-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 30vh;
    /* background: white;    */
}

.promoter-spec-tabs {
    width: 100%;
    height: 100%;
    color: white;
    background: #111111;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-color: #eeeeee;
    border-right: #111111;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}

.promoter-spec-tabs-selected {
    width: 100%;
    height: 100%;
    color: #111111;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-left: 7px solid black;
    border-top: 1px solid white;
}

.promoter-spec-tabs:hover {
    background: #EBEBEB;
    color: #111111;
}

.promoter-spec-content {
    width: 80%;
    color: #111111;
    font-size: 15pt;
    height: 100%;
    padding-left: 20px;
}

.promoter-plan {
    display: flex;
    width: 80%;
    height: 70vh;
}

.promoter-plan-left {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.promoter-plan-right {
    width: 80%;
    grid-auto-flow: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
}

.promoter-plan-right img{
    width: 20%;
    cursor: pointer;
}

.promoter-plan-right img:hover{
    position: relative; 
    box-shadow: 0 0 1px 1px #000;
}

.promoter-location {
    display: flex;
    width: 100%;
    padding: 30px;
    background-color: #111111;
    color: white;
    align-items: center;
    justify-content: center;
}

.promoter-location-left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.promoter-location-left-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promoter-location-left-bottom {
    height: 80%;
    padding: 20px;
}

.promoter-location-right{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promoter-location-right a img{
    width: 100%;
}

.promoter-location-right a img:hover {
    position: relative; 
    -webkit-box-shadow: inset 0 0 10px 10px #000;    
    -moz-box-shadow: inset 0 0 10px 10px #000;
    box-shadow: inset 0 0 10px 10px #000;
}

.promoter-payment {
    width: 60%;
    height: 75vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promoter-payment table tr:nth-child(even){
    background-color: #fafafa
}

.promoter-appointment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0px;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: #111111;
    color: white;
}

.promoter-appointment button:hover{
    border: 1px solid gray;
}

/* ///////////////Developers CSS///////////////////// */

.developers {
    width: 100%;
    height: 95vh;
    margin-top: 50px;
    color: #000;
}

.developers-banner {
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://img.freepik.com/premium-photo/modern-building-office-blue-sky-background_35761-198.jpg?w=2000');
}

.developers-banner-text {
    width: 50%;
}

.developers-banner-contact {
    width: 50%;
}

.developers-timeline {
    padding: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
}

.developers-timeline h1 {
    text-align: center;
}

/* Timeline */

.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
}

.timeline-container::after {
    background-color: #e17b77;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}

.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}

.timeline-item-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: right;
}

.timeline-item-content::after {
    content: ' ';
    background-color: #fff;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
    left: auto;
    right: 5px;
}

.timeline-item-content time {
    color: #777;
    font-size: 12px;
    font-weight: bold;
}

.timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    max-width: 250px;
}

.timeline-item-content a {
	color: #333;
	text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.timeline-item-content a::after {
    content: ' ►';
    font-size: 12px;
}

.timeline-item-content .circle {
    background-color: #fff;
    border: 3px solid #e17b77;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -40px;
}

@media only screen and (max-width: 1023px) {
    .timeline-item-content {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .timeline-item-content,
    .timeline-item:nth-child(odd) .timeline-item-content {
        padding: 15px 10px;
        text-align: center;
        align-items: center;
    }

    .timeline-item-content .tag {
        width: calc(100% - 10px);
        text-align: center;
    }

    .timeline-item-content time {
        margin-top: 20px;
    }

    .timeline-item-content a {
        text-decoration: underline;
    }

    .timeline-item-content a::after {
        display: none;
    }
}

/* ///////////////Footer CSS///////////////// */

.footer {
    background: #474747;
    color: white;
    width: 100%;
}

.footer-about-company {
    max-height: 20vh;
}

.footer-logo {
    height: 100%
}

.links ul {list-style-type: none;}

.links li a {
    color: white;
    transition: color .2s;
    text-decoration:none;
}

.links li a:hover{
    text-decoration:none;
    color:#4180CB;
}